pre {  white-space: pre-line !important; }
pre span {white-space: pre-line;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }