<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    {{ 'Transactions' | translate }}
    <a mat-stroked-button color="accent" [routerLink]="['./transactions']">{{ 'ViewAll' | translate }}</a>
  </mat-card-title>
  <mat-card-content>
    <app-table [dataSource]="transactions$ | async" [enablePager]="false">
      <table mat-table [dataSource]="transactions$ | async">
        <ng-container *ngIf="transactionsColumns$ | async as transactionsColumns">
          <tr mat-header-row *matHeaderRowDef="transactionsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: transactionsColumns;"></tr>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let transaction">
            <a [routerLink]="['./transactions',transaction.id]">{{transaction.id | slice:0:26}}...</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>{{ 'Time' | translate }}</th>
          <td mat-cell *matCellDef="let transaction">
            {{transaction.createdAt | amFromUnix | date:'medium'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="numActions">
          <th mat-header-cell *matHeaderCellDef>{{ 'Actions' | translate }}</th>
          <td mat-cell *matCellDef="let transaction">
            {{transaction.numActions}}
          </td>
        </ng-container>
      </table>
    </app-table>
  </mat-card-content>
</mat-card>
