<div style="margin:10px;">
    <mat-card>
        <mat-card-title>
            Account Registration
        </mat-card-title>
        <mat-card-content class="table-container">
            <!-- Static information to be changed -->
            <table>
                <thead>
                    <tr>
                        <th class="mat-header-cell *matHeaderCellDef">Type</th>
                        <th class="mat-header-cell *matHeaderCellDef">Information</th>
                        <th class="mat-header-cell *matHeaderCellDef">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mat-cell *matCellDef=">Car Registration:</td>
                        <td class="mat-cell *matCellDef=">BMW 520i</td>
                        <td class="mat-cell *matCellDef=">12:00:00am, May 12 2019</td>
                    </tr>
                    <tr>
                        <td class="mat-cell *matCellDef=">Ship Registration:</td>
                        <td class="mat-cell *matCellDef=">Remus 525ST</td>
                        <td class="mat-cell *matCellDef=">12:00:00am, May 12 2019</td>
                    </tr>
                    <tr>
                        <td class="mat-cell *matCellDef=">Domain Registration</td>
                        <td class="mat-cell *matCellDef=">www.ghostbusters.land</td>
                        <td class="mat-cell *matCellDef=">12:00:00am, May 12 2019</td>
                    </tr>
                    <tr>
                        <td class="mat-cell *matCellDef=">Company Registration</td>
                        <td class="mat-cell *matCellDef=">Liberland Beer Co.</td>
                        <td class="mat-cell *matCellDef=">12:00:00am, May 12 2019</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>