<mat-toolbar color="primary">
  <h1 class="mat-headline">
    {{ 'Transaction' | translate }}
  </h1>
</mat-toolbar>
<ng-container *ngIf="transaction$ | async as transaction; else loading">
  <mat-tab-group color="primary" dynamicHeight="true" *ngIf="!transaction.isError; else error">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:5px;">info</mat-icon>
        {{ 'Transaction Information' | translate }}
      </ng-template>
      <app-transaction-information [transaction]="transaction.value"></app-transaction-information>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:5px;">code</mat-icon>
        {{ 'BlockchainRawData' | translate }}
      </ng-template>
      <div style="margin:10px;">
        <ngx-json-viewer [json]="transaction.value" [expanded]="true"></ngx-json-viewer>
      </div>
    </mat-tab>
  </mat-tab-group>
  <ng-template #error>
    <app-error></app-error>
  </ng-template>
</ng-container>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
