<app-page>
  <div id="page-wrapper" style="padding:0;">
    <mat-toolbar>
      <h1 class="mat-headline">
        <a routerLink=".">{{ 'Accounts' | translate }}</a>
      </h1>
    </mat-toolbar>
    <div style="overflow:scroll;">
      <app-table [dataSource]="accounts$ | async" style="display:block;margin:20px auto;width:960px;">
        <mat-table [dataSource]="accounts$ | async" class="mat-elevation-z2">
          <mat-header-row *matHeaderRowDef="columnHeaders"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnHeaders;"></mat-row>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>{{ 'Name' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let account">
              <a [routerLink]="['/accounts',account.name]">{{account.name}}</a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef>{{ 'CreatedAt' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let account">
              {{account.createdAt * 1000 | date:'medium'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="updatedAt">
            <mat-header-cell *matHeaderCellDef>{{ 'UpdatedAt' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let account">
              {{account.updatedAt * 1000 | date:'medium'}}
            </mat-cell>
          </ng-container>
        </mat-table>
      </app-table>
    </div>
  </div>
</app-page>
