<mat-toolbar color="primary">
  <h1 class="mat-headline">
    {{ 'Accounts' | translate }}
  </h1>
</mat-toolbar>
<div style="margin:10px;">
  <app-table [dataSource]="accounts$ | async">
    <table mat-table [dataSource]="accounts$ | async">
      <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
      <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'Name' | translate }}</th>
        <td mat-cell *matCellDef="let account">
          <a [routerLink]="['/accounts',account.name]">{{account.name}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>{{ 'CreatedAt' | translate }}</th>
        <td mat-cell *matCellDef="let account">
          {{account.createdAt | amFromUnix | amSubtract: 2 : 'hours' | date:'medium'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>{{ 'UpdatedAt' | translate }}</th>
        <td mat-cell *matCellDef="let account">
          {{account.updatedAt | amFromUnix | amSubtract: 2 : 'hours' | date:'medium'}}
        </td>
      </ng-container>
    </table>
  </app-table>
</div>
