<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="{{ 'SearchBy' | translate }}" name="query" [(ngModel)]="query" (keyup.enter)="onSubmit()">
					<span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="onSubmit()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
				</div>
				<!-- /input-group -->
			</li>
			<li>
				<a routerLink="/" routerLinkActive="active"><i class="fa fa-dashboard fa-fw"></i> {{ 'Dashboard' | translate }}</a>
			</li>
			<li>
				<a routerLink="/blocks" routerLinkActive="active"><i class="fa fa-th fa-fw"></i> {{ 'Blocks' | translate }}</a>
			</li>
			<li>
				<a routerLink="/transactions" routerLinkActive="active"><i class="fa fa-list-alt fa-fw"></i> {{ 'Transactions' | translate }}</a>
			</li>
			<li>
				<a routerLink="/accounts" routerLinkActive="active"><i class="fa fa-users fa-fw"></i> {{ 'Accounts' | translate }}</a>
			</li>
			<li>
				<a routerLink="/producers" routerLinkActive="active"><i class="fa fa-gavel fa-fw"></i> {{ 'Producers' | translate }}</a>
			</li>
			<li>
				<a routerLink="/actions" routerLinkActive="active"><i class="fa fa-files-o fa-fw"></i> {{ 'Actions' | translate }}</a>
			</li>
			<li>
				<a routerLink="/settings" routerLinkActive="active"><i class="fa fa-cogs fa-fw"></i> {{ 'Settings' | translate }}</a>
			</li>
			<li>
				<a routerLink="/support" routerLinkActive="active"><i class="fa fa-money fa-fw"></i> {{ 'Support' | translate }}</a>
			</li>
			<li *ngIf="walletUrl">
				<a target="_blank" href="{{ walletUrl }}"><i class="fa fa-credit-card fa-fw"></i> {{ 'Wallet' | translate }}</a>
			</li>
			<li *ngIf="votingUrl">
				<a target="_blank" href="{{ votingUrl }}"><i class="fa fa-book fa-fw"></i> {{ 'Voting' | translate }}</a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>