<app-page>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ 'Dashboard' | translate }}</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Blocks' | translate }}

						<div class="pull-right">
							<button type="button" routerLink="/blocks" class="btn btn-outline btn-info btn-xs">
								{{ 'ViewAll' | translate }}
							</button>
						</div>

					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!blocks"></app-loading>
						<div *ngIf="blocks" class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>#</th>
									<th class="hidden-xs">{{ 'Time' | translate }}</th>
									<th>{{ 'Producer' | translate }}</th>
									<th>{{ 'Tx' | translate }}</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let block of blocks">
									<td><a routerLink="/blocks/{{block.blockNumber}}">{{block.blockNumber}}</a></td>
									<td class="hidden-xs">{{block.timestamp | amFromUnix | amSubtract: 2 : 'hours' | date:'medium'}}</td>
									<td><a routerLink="/producers/{{block.producer}}">{{block.producer}}</a></td>
									<td>{{block.numTransactions}}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Transactions' | translate }}

						<div class="pull-right">
							<button type="button" routerLink="/transactions" class="btn btn-outline btn-info btn-xs">
								{{ 'ViewAll' | translate }}
							</button>
						</div>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!transactions"></app-loading>
						<div *ngIf="transactions" class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>#</th>
									<th class="hidden-xs">{{ 'Time' | translate }}</th>
									<th>{{ 'Actions' | translate }}</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let transaction of transactions">
									<td><a routerLink="/transactions/{{transaction.id}}">{{transaction.id | slice:0:26}}...</a>
									</td>
									<td class="hidden-xs">{{transaction.createdAt | amFromUnix | amSubtract: 2 : 'hours' | date:'medium'}}</td>
									<td>{{transaction.numActions}}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
		</div>

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</app-page>
