<mat-toolbar color="primary">
  <h1 class="mat-headline">
    {{ 'Dashboard' | translate }}
  </h1>
</mat-toolbar>
<div>
    <a target="_blank" href="https://www.aikon.com/"><img src="/assets/OREExplorer_Header.jpg" style="width: 100%;"/></a>
</div>
<div>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="margin:10px;">
    <app-dashboard-chain-status fxFlex.gt-sm="100%"></app-dashboard-chain-status>
    <!-- <app-dashboard-price fxFlex.gt-sm="50%" [price]="eosQuote$ | async"></app-dashboard-price> -->
  </div>
  <div style="margin:10px;">
    <app-dashboard-blocks></app-dashboard-blocks>
  </div>
  <div style="margin:10px;">
    <app-dashboard-transactions></app-dashboard-transactions>
  </div>
</div>
