<table *ngIf="block; else loading">
  <tr>
    <td>{{ 'Number' | translate }}:</td>
    <td>{{block.blockNumber}}</td>
  </tr>
  <tr>
    <td>{{ 'Producer' | translate }}:</td>
    <td>
      <a [routerLink]="['/producers',block.producer]">{{block.producer}}</a>
    </td>
  </tr>
  <tr>
    <td>{{ 'Timestamp' | translate }}:</td>
    <td>{{block.timestamp * 1000 | date:'medium'}}</td>
  </tr>
  <tr>
    <td>{{ 'BlockId' | translate }}:</td>
    <td>{{block.id}}</td>
  </tr>
  <tr>
    <td>{{ 'Previous' | translate }} {{ 'BlockInformation' | translate }}:</td>
    <td>
      <a [routerLink]="['/search']" [queryParams]="{q: block.prevBlockId}">{{block.prevBlockId}}</a>
    </td>
  </tr>
  <tr>
    <td>{{ 'Transaction' | translate }} {{ 'MerkleRoot' | translate }}:</td>
    <td>{{block.transactionMerkleRoot}}</td>
  </tr>
  <tr>
    <td>{{ 'Action' | translate }} {{ 'MerkleRoot' | translate }}:</td>
    <td>{{block.actionMerkleRoot}}</td>
  </tr>
  <tr>
    <td>{{ 'Transactions' | translate }}:</td>
    <td>{{block.numTransactions}}</td>
  </tr>
  <tr>
    <td>{{ 'Confirmations' | translate }}:</td>
    <td>{{block.confirmed}}</td>
  </tr>
</table>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
