:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header {
  height: 100%;
  padding: 0 20px;
  background-color: #fafafa;
}

header .mat-icon-button {
  margin-right: 10px;
}

header .brand img {
  width: 30px;
}

header .search-collapsed {
  width: auto;
}

header .search-expanded {
  width: 100%;
}