@import '../../../../themes';
;
:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header {
  height: 100%;
  padding: 0 20px;
  .mat-icon-button {
    margin-right: 10px;
  }
  .brand {
    color: #222;
    img {
      width: 30px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  .search-collapsed {
    width: auto;
  }
  .search-expanded {
    width: 100%;
  }
}
