<app-page>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ 'Producers' | translate }}</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel">
					<div class="progress" style="height: 20px;">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': chainPercentage + '%'}">Votes: {{ (chainNumber) |number }} ({{chainPercentage}}%)</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Producers' | translate }}
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!producers"></app-loading>
						<div *ngIf="producers" class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>#</th>
									<th>{{ 'Name' | translate }}</th>
									<th class="hidden-xs">{{ 'Url' | translate }}</th>
									<th class="hidden-xs">{{ 'Votes' | translate }}</th>
									<th>{{ '%' | translate }}</th>
									<th>{{ 'Daily Reward' | translate }}</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let producer of producers; let i = index">
									<td [ngClass]="{'bold': i < 21}">{{i + 1}}</td>
									<td [ngClass]="{'bold': i < 21}" ><a routerLink="/producers/{{producer.owner}}">{{producer.owner}}</a></td>
                                    <td class="hidden-xs">{{producer.url}}</td>
                                    <td class="hidden-xs">{{producer.numVotes|number}}<span *ngIf="producer.votes"></span></td>
                                    <td>{{producer.votes}}<span *ngIf="producer.votes">%</span></td>
                                    <td>{{producer.reward}} <span *ngIf="producer.reward">EOS</span></td>
								</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>
		<!--
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Stats' | translate }}
					</div>
					<div class="panel-body">
						<app-loading *ngIf="!producers"></app-loading>
						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-pie-chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</app-page>
