<app-page>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ 'Account' | translate }} <span *ngIf="account">{{account.name}}</span></h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Account' | translate }}
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!account"></app-loading>
						<div *ngIf="account" class="table-responsive">
							<table class="table table-striped">
								<tr>
									<td>{{ 'Name' | translate }}:</td>
									<td>{{account.name}}</td>
								</tr>

								<tr>
									<td>{{ 'CreatedAt' | translate }}:</td>
									<td>{{account.createdAt * 1000 | date:'medium'}}</td>
								</tr>

								<tr>
									<td>{{ 'UpdatedAt' | translate }}:</td>
									<td>{{account.updatedAt * 1000 | date:'medium'}}</td>
								</tr>

								<tr *ngIf="balance != null">
									<td>{{ 'Balance' | translate }}:</td>
									<td>{{balance | number:'1.0-4' }} EOS</td>
								</tr>

								<tr *ngIf="tokens.length > 0">
									<td>{{ 'Other tokens' | translate }}:</td>
									<td>
										<div *ngFor="let token of tokens">{{token}}</div>
									</td>
								</tr>

								<tr *ngIf="accountRaw">
									<td>{{ 'RAM' | translate }}:</td>
									<td>{{accountRaw.ram_usage | toKB | number:'1.0-2'}} KB / {{accountRaw.ram_quota | toKB | number:'1.0-2'}} KB <span *ngIf="ramPrice">({{(ramPrice * accountRaw.ram_quota) | number:'1.0-4'}} EOS)</span></td>
								</tr>

								<tr *ngIf="accountRaw">
									<td>{{ 'CPU' | translate }}:</td>
									<td>
										Staked: {{(accountRaw.cpu_weight / 10000) | number:'1.0-4'}} EOS<br />
										Used: {{accountRaw.cpu_limit.used  | number}} µs<br />
										Available: {{accountRaw.cpu_limit.available  | number}} µs<br />
										Max: {{accountRaw.cpu_limit.max | number}} µs
									</td>
								</tr>
								<tr *ngIf="accountRaw">
									<td>{{ 'NET' | translate }}:</td>
									<td>
										Staked: {{(accountRaw.net_weight / 10000) | number:'1.0-4'}} EOS<br />
										Used: {{(accountRaw.net_limit.used) | toKB | number:'1.0-2'}} KB<br />
										Available: {{(accountRaw.net_limit.available) | toKB | number:'1.0-2'}} KB<br />
										Max: {{(accountRaw.net_limit.max) | toKB | number:'1.0-2'}} KB
									</td>
								</tr>

								<tr *ngIf="accountRaw && balance != null && ramPrice">
									<td>{{ 'Value' | translate }}:</td>
									<td>
										{{((accountRaw.cpu_weight / 10000) + (accountRaw.net_weight / 10000) + balance + (ramPrice * accountRaw.ram_quota)) | number:'1.0-4'}} EOS
										<span *ngIf="eosPrice">(${{(((accountRaw.cpu_weight / 10000) + (accountRaw.net_weight / 10000) + balance + (ramPrice * accountRaw.ram_quota)) * eosPrice)  | number:'1.0-2'}})</span>

									</td>
								</tr>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>

		<div *ngIf="account && account.abi" class="panel-group" id="accordion-abi">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion-abi" href="#collapseAbi" aria-expanded="false" class="collapsed">{{ 'Contract' | translate }}</a>
					</h4>
				</div>
				<div id="collapseAbi" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<prettyjson [obj]="account.abi"></prettyjson>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">{{ 'BlockchainRawData' | translate }}</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<prettyjson [obj]="accountRaw"></prettyjson>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group" id="accordion2" *ngIf="tables">

			<div class="panel panel-default" *ngFor="let table of tables">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion2" href="#{{table.name}}" aria-expanded="false" class="collapsed">{{ 'Table' | translate }} - {{table.name}}</a>
					</h4>
				</div>
				<div id="{{table.name}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<div *ngFor="let row of table.rows">
							<prettyjson [obj]="row"></prettyjson>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Actions Received' | translate }}

						<div class="pull-right">
							<button *ngIf="page != 1" type="button" (click)="prevPage()" class="btn btn-outline btn-info btn-xs"><i class="fa fa-angle-left"> {{ 'Previous' | translate }}</i></button>
							<button *ngIf="actionsReceived && actionsReceived.length == 30" type="button" (click)="nextPage()" class="btn btn-outline btn-info btn-xs">{{ 'Next' | translate }} <i class="fa fa-angle-right"></i></button>
						</div>

					</div>
					<div class="panel-body">
						<app-loading *ngIf="!actionsReceived"></app-loading>
						<div *ngIf="actionsReceived" class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>#</th>
									<th>{{ 'Account' | translate }}</th>
									<th>{{ 'Timestamp' | translate }}</th>
									<th>{{ 'Transaction' | translate }}</th>
									<th>{{ 'Name' | translate }}</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let action of actionsReceived">
									<td><a routerLink="/actions/{{action.id}}">{{action.id}}</a></td>
									<td><a routerLink="/accounts/{{action.account}}">{{action.account}}</a></td>
									<td>{{action.createdAt * 1000 | date:'medium'}}</td>
									<td><a routerLink="/transactions/{{action.transaction}}">{{action.transaction|slice:0:16}}...</a></td>
									<td>{{action.name}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Actions Sent' | translate }}

						<div class="pull-right">
							<button *ngIf="page != 1" type="button" (click)="prevPage()" class="btn btn-outline btn-info btn-xs"><i class="fa fa-angle-left"> {{ 'Previous' | translate }}</i></button>
							<button *ngIf="actionsSent && actionsSent.length == 30" type="button" (click)="nextPage()" class="btn btn-outline btn-info btn-xs">{{ 'Next' | translate }} <i class="fa fa-angle-right"></i></button>
						</div>

					</div>
					<div class="panel-body">
						<app-loading *ngIf="!actionsSent"></app-loading>
						<div *ngIf="actionsSent" class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>#</th>
									<th>{{ 'Account' | translate }}</th>
									<th>{{ 'Timestamp' | translate }}</th>
									<th>{{ 'Transaction' | translate }}</th>
									<th>{{ 'Name' | translate }}</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let action of actionsSent">
									<td><a routerLink="/actions/{{action.id}}">{{action.id}}</a></td>
									<td><a routerLink="/accounts/{{action.account}}">{{action.account}}</a></td>
									<td>{{action.createdAt * 1000 | date:'medium'}}</td>
									<td><a routerLink="/transactions/{{action.transaction}}">{{action.transaction|slice:0:16}}...</a></td>
									<td>{{action.name}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</app-page>
