<app-page>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Transaction</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Transaction
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<app-loading *ngIf="!transaction"></app-loading>
						<div *ngIf="transaction" class="table-responsive">
							<table class="table table-striped">
								<tr>
									<td>Id:</td>
									<td>{{transaction.transaction_id}}</td>
								</tr>
								<tr>
									<td>Block:</td>
									<td><a routerLink="/search" [queryParams]="{q: transaction.block_id}">{{transaction.block_id}}</a>
									</td>
								</tr>
								<tr>
									<td>Created At:</td>
									<td>{{transaction.createdAt.sec * 1000 | date:'medium'}}</td>
								</tr>
								<tr>
									<td>Scope:</td>
									<td>
										<span *ngFor="let account of transaction.scope">
											<a routerLink="/accounts/{{account}}">{{account}}</a>
										</span>
									</td>
								</tr>
								<tr>
									<td>Messages:</td>
									<td>
										<span *ngIf="transaction.messages.length == 0">{{transaction.messages.length}}</span>
										<span *ngIf="transaction.messages.length != 0">
											<span *ngFor="let message of transaction.messages; let idx = index; last as isLast">
												<a routerLink="/contracts/{{idx}}/{{transaction.transaction_id}}">{{idx+1}}</a>
												<span *ngIf="!isLast"> - </span>
											</span>
										</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</app-page>
