<ng-container *ngIf="votes$ | async as votes; else loading">
  <app-table [dataSource]="votes" [enablePager]="false">
    <table mat-table [dataSource]="votes">
      <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
      <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>{{ 'Account' | translate }}</th>
        <td mat-cell *matCellDef="let vote">
          <a [routerLink]="['../../account',vote.account]">{{vote.account}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="staked">
        <th mat-header-cell *matHeaderCellDef>{{ 'Staked' | translate }}</th>
        <td mat-cell *matCellDef="let vote">
          {{vote.staked | number}} EOS
        </td>
      </ng-container>
      <ng-container matColumnDef="votes">
        <th mat-header-cell *matHeaderCellDef>{{ 'Number of BPs' | translate }}</th>
        <td mat-cell *matCellDef="let vote">
          {{vote.votes.length}}
        </td>
      </ng-container>
    </table>
  </app-table>
</ng-container>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>