<mat-card *ngIf="(status$ | async) as status">
  <mat-card-title>
    {{ 'General Network Info' | translate }}
  </mat-card-title>
  <mat-card-content class="table-container">
    <table>
      <tr>
        <td>{{ 'Server Version' | translate }}:</td>
        <td>{{status.server_version}}</td>
      </tr>
      <tr>
        <td>{{ 'Chain ID' | translate }}:</td>
        <td>{{status.chain_id}}</td>
      </tr>
      <tr>
        <td>{{ 'Latest Block #' | translate }}:</td>
        <td>{{status.head_block_num | number}}</td>
      </tr>
      <tr>
        <td>{{ 'Latest Irreversible Block #' | translate }}:</td>
        <td>{{status.last_irreversible_block_num | number}}</td>
      </tr>
      <tr>
        <td>{{ 'Latest Block Timestamp' | translate }}:</td>
        <td>{{status.head_block_time | date:'medium'}}</td>
      </tr>
      <tr>
        <td>{{ 'Latest Block Producer' | translate }}:</td>
        <td>
          <a [routerLink]="['/producers',status.head_block_producer]">{{status.head_block_producer}}</a>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>