<mat-toolbar color="primary">
    <h1 class="mat-headline">
      {{ 'Proposals' | translate }}
    </h1>
</mat-toolbar>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Proposals">
      <th mat-header-cell *matHeaderCellDef> Proposals </th>
      <td mat-cell *matCellDef="let element"> {{element.proposal}}
        <i class="material-icons">add</i> 
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Expires">
      <th mat-header-cell *matHeaderCellDef> Expires </th>
      <td mat-cell *matCellDef="let element"> {{element.expires}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Turn Out">
      <th mat-header-cell *matHeaderCellDef> Turn Out </th>
      <td mat-cell *matCellDef="let element"> {{element.turnout}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Vote">
      <th mat-header-cell *matHeaderCellDef> Vote </th>
      <td mat-cell *matCellDef="let element">
          <progress-bar [progress]="45" [color]="'#00cc00'">
            </progress-bar>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  
  
