<app-page>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ 'Action' | translate }}</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Action' | translate }}
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">

						<app-loading *ngIf="!action"></app-loading>
						<div *ngIf="action" class="table-responsive">
							<table class="table table-striped">
								<tr>
									<td>{{ 'TransactionId' | translate }}:</td>
									<td><a routerLink="/transactions/{{action.transaction}}">{{action.transaction}}</a></td>
								</tr>
								<tr>
									<td>{{ 'ActionIndex' | translate }}:</td>
									<td>{{action.id}}</td>
								</tr>
								<tr>
									<td>{{ 'CreatedAt' | translate }}:</td>
									<td>{{action.createdAt * 1000 | date:'medium'}}</td>
								</tr>
								<tr>
									<td>{{ 'HandlerAccount' | translate }}:</td>
									<td><a routerLink="/accounts/{{action.account}}">{{action.account}}</a></td>
								</tr>
								<tr>
									<td>{{ 'Name' | translate }}:</td>
									<td>{{action.name}}</td>
								</tr>
								<tr>
									<td>{{ 'Authorization' | translate }}:</td>
									<td>
										<span *ngFor="let account of action.authorizations">
											<a routerLink="/accounts/{{account.actor}}">{{account.actor}}</a>
										</span>
									</td>
								</tr>
								<tr *ngIf="actionRaw">
									<td>{{ 'CPU Usage' | translate }}:</td>
									<td>{{actionRaw.cpu_usage_us | number }} µs</td>
								</tr>
								<tr *ngIf="actionRaw">
									<td>{{ 'Net Usage' | translate }}:</td>
									<td>{{actionRaw.net_usage_words  | toKB | number:'1.0-3'}} KB</td>
								</tr>
							</table>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'Data' | translate }}
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">

						<app-loading *ngIf="!action"></app-loading>
						<div *ngIf="action" class="table-responsive">
							<prettyjson [obj]="action.data"> </prettyjson>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>


		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">{{ 'BlockchainRawData' | translate }}</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<prettyjson [obj]="actionRaw"></prettyjson>
					</div>
				</div>
			</div>
		</div>

		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</app-page>
