.mat-table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .12);
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}

.mat-headline,
.mat-title,
.mat-subheading-2,
.mat-subheading-1 {
  margin: 0;
}
