.info {
  padding: 20px;
  color: #fff;
  .mat-icon {
    width: 80px;
    height: 80px;
    font-size: 80px;
  }
  .mat-display-1 {
    margin: 0;
    line-height: 60px;
    text-align: right;
    min-width: 180px;
  }
  .mat-subheading-2 {
    margin: 0;
    line-height: 20px;
    text-align: right;
  }
}

.mat-stroked-button {
  width: 100%;
}
